<div class="container">
    <fieldset>
      <legend>Datas</legend>
        <table class="responsive-table">
            <thead>
            <tr>
                <th>Name</th>
                <th>Last Name</th>
                <th>Email</th>
            </tr>
            </thead>

            <tbody>
            <tr>
                <td>{{name}}</td>
                <td>{{last_name}}</td>
                <td>{{email}}</td>
            </tr>
            </tbody>
        </table>
    </fieldset>
</div>